<div style="margin-top:45px; margin-bottom:300px;" class="container-fluid">
    <div class="row profile-top">
      <div class="col-md-2 profile-image"  >
        <div *ngIf="user?.imageUrl?.length>0 || user?.imageUrl != null" [ngStyle]="{'background-image':'url('+user?.imageUrl+')'}" style="width:180px;height:180px;border-radius: 560px;background-size: cover;background-position: center;"></div>
      </div>
      <div class="col-md-8 profile-titles">
        <h1>{{ user?.username | titlecase}}</h1>
        <h5>{{ user?.workPosition }}</h5>
        <h6>{{ user?.city }}</h6>
      </div>
      <div class="col-md-2 profile-ratings">
        <div class="row">
          <div class="col-md-2"><i class="fa fa-star rating-star"></i></div>
          <div class="col-md-10">
            <h2 class="rating-points">{{user?.rating}}</h2>
          </div>
        </div>
      </div>
    </div>
<tabset  #staticTabs>
  <tab heading="Info" id="tab1">

    <div class="row">
      <div class="col-lg-4 col-sm-12 col-md-4 description">
        
        <div class="row">
          <h5 class="description-title">Description</h5>
        </div>
        <div class="row">
          <p *ngIf="user?.description == null || user?.description == ''" class="alert alert-info">
            This user has no description yet
          </p>
          <p class="description-text">{{user?.description}}</p>
        </div>
      </div>
      <div class="col-lg-8 col-sm-12 col-md-8">

          <app-rate *ngIf="user?.reviewsGotten!=null" class="row" style="width:100%;padding:30px;" [reviews]="user?.reviewsGotten"  [reviewedId] = "user?.id"></app-rate>
         
      </div>
      <small class="d-block text-right col-12 mt-3">
        <a *ngIf="user?.reviewsGotten.length > 0"  (click)="selectTab(2)">All reviews</a>
        
        
      </small>
    </div>
  </tab>
  <tab heading="Posts" id="tab2">
    <app-posts-list *ngIf =" user?.id != null && user?.id!= ''" [isGuestUser]="true" [id]="user.id"></app-posts-list>
  </tab>
  <tab heading="Reviews" id="tab3">
      <div *ngIf="user?.reviewsGotten.length <=0" class="alert alert-info" style="margin-top:35px"> No reviews yet...</div>
      <div *ngIf="user?.reviewsGotten.length>0" class="row">

        <h6   class="border-bottom border-gray pb-2 mb-0 mt-3 col-12">Recent reviews</h6>
          <div  *ngFor='let review of user?.reviewsGotten' class="media text-muted pt-3 col-12"  style="width:50vw" >
            <img class="bd-placeholder-img mr-2 rounded" width="32" height="32" [src]="review?.reviewerImg" alt="">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
              <strong class="d-block text-gray-dark ">{{ review?.reviewerName }}</strong>
                {{ review?.description }}
            </p>
            <ul class="review-rate">
              <li><i class="fa fa-star"></i></li>
              <li>{{ review?.rating }}</li>
            </ul>
          </div>
      
      </div>
      
  </tab>
</tabset>
  </div>


