<div style="padding-top:100px;" class="container-fluid">
    <div class="row titles">
        <div class="col-12">
            
            <h1>{{ post?.name }}</h1>
        </div>
        <div class="col-12">
            <div class="row user-details">
                <div *ngIf='post?.creator.imageUrl != null' [ngStyle]="{'background-image':'url('+post?.creator?.imageUrl+')'}" class="image"></div>

                <div class="profile-image">
                    <p>{{ post?.creator.name | titlecase }}</p>
                </div>
                <div>
                    <ul class="rating">
                        <li class="star"><i class="fa fa-star"></i></li>
                        <li class="star"><i class="fa fa-star"></i></li>
                        <li class="star"><i class="fa fa-star"></i></li>
                        <li class="star"><i class="fa fa-star"></i></li>
                        <li class="star"><i class="fa fa-star"></i></li>
                    </ul>
                </div>
                <div class="rating-points">
                    <span>( {{post?.creator.rating}} )</span>
                </div>
            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="row">
                <div class="card description">
                    <div class="card-body">
                        <div class="card-title post-description"> Description </div>
                        
                        <p class="card-text">{{ post?.description }}</p>
                        <hr>
                        <div class="card-title post-description"> Location </div>
                        
                        <p class="card-text ">
                            {{ post?.location }}
                        </p>
                        <hr>
                        <div class="card-title post-description"> Budget </div>
                        
                        <p class="card-text">
                            ${{ post?.price}}
                        </p>
                        <hr>
                        <div class="card-title post-description"> Should be finished by </div>
                        
                        <p class="card-text">
                            {{ post?.timeDue | date}}
                        </p>
                        
                    </div>
                  </div>

            </div>
        </div>


        <div class="col-6" style="margin-top:15px">
            <app-report [postId]="postId" ></app-report>
        </div>
        <div *ngIf="isCreator == true" class="col-6" style="padding-top:15px;padding-left:40px;">
            <app-update-post [postId]="postId"></app-update-post>
        </div>
        <div  *ngIf="post?.status == 'InSearch'" class="col-12 bid-form-col">
            <div  *ngIf="this.canBid == true" class="card bid-form">
                <div class="card-title">
                    <h3 class="bid-create-title"> Place your own bid !</h3>
                </div>
                <hr>
                <form [formGroup]="bidForm" (ngSubmit)="placeBid()" action="" class="form">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                          <label> Type how many days you think it will take you</label>
                          <input formControlName="days" name="Days" type="number" class="form-control"  placeholder="14">
                        </div>
                        <div class="form-group col-md-6">
                          <label> Type in your best price</label>
                          <input formControlName="price" name="Price" type="number" class="form-control"  placeholder="$15000">
                        </div>
                      </div>
                      <div class="form-group">
                        <label> Tell the job offerer why you are the best candidate.</label>
                        <textarea formControlName="description" name="Description" type="text" class="form-control" style="height:140px;" placeholder="You should hire me because ..."></textarea>
                      </div>
                   
                      
                      
                      
                   
                      <button type="submit" class="btn btn-success" >Place bid</button>
                </form>
            </div>
            <div *ngIf="this.canBid == false && this.isCreator == false" class="alert alert-warning alert-message">
                You have already bid !
            </div>
        </div>
        
        <div  *ngIf="post?.status == 'Closed'" class="col-12">
           
            <h5 style="padding-top:20px;font-weight: bold;"><i class="fa fa-flag winner-flag"></i>    Bid Winner </h5>
                <a class="bid-winner list-group-item list-group-item-action flex-column align-items-start">
                    <ul class="bidder-info-list">
                       <li>
                         <div [ngStyle]="{'background-image':'url('+this.approvedBid.bidder.imageUrl+')'}" class="bidder-image"></div>
                           
                       </li>
                       <li>
                           <div class="bidder-name">
                            <p>{{ approvedBid.bidder.name | titlecase }}</p>
                           </div>
    
                       </li>
                       <li>
                           <div>
                               <ul class="bidder-rating justify-content-start">
                                   <li class="star"><i class="fa fa-star"></i></li>
                                   <li class="star"><i class="fa fa-star"></i></li>
                                   <li class="star"><i class="fa fa-star"></i></li>
                                   <li class="star"><i class="fa fa-star"></i></li>
                                   <li class="star"><i class="fa fa-star"></i></li>
                               </ul>
                           </div>
    
                       </li>
                       <li>
    
                           <div class="bidder-rating-points">
                              <span>({{ approvedBid.bidder.rating }})</span>
                           </div>
                       </li>
                       <li class="bidder-date">
                           <small>{{ approvedBid.createdOn | date}}</small>
                       </li>
                   </ul>
    
                 <div class="d-flex w-100 justify-content-between">
                   
                      <p class="mb-1">{{ approvedBid.description }}</p>
                     <ul class="details">
                         <li>
                             <h4>${{ approvedBid.price }}</h4>
    
                         </li>
                         <li class="days">
                             <h5>{{ approvedBid.days }} days</h5>
                         </li>
                     </ul>
    
                 </div>
            
               </a>

          
        </div>

        <div  *ngIf="post?.bids != null && post?.status == 'InSearch'" class="col-12">
            <div class="row bids-title">
                <h4>Bids Stack</h4>
            </div>
           
            <div class="row bid-list">
                <div class="col-12">
                    
                    <div class="list-group">

                        <a *ngFor="let bid of post.bids" (click)="openModal(template)"  class="list-group-item list-group-item-action flex-column align-items-start">
                             <ul class="bidder-info-list">
                                <li>
                                    <div [ngStyle]="{'background-image':'url('+bid.bidder.imageUrl+')'}" class="bidder-image"></div>
                                    
                                </li>
                                <li>
                                    <div class="bidder-name">
                                        <p>{{ bid.bidder.name | titlecase }}</p>
                                    </div>
            
                                </li>
                                <li>
                                    <div>
                                        <ul class="bidder-rating justify-content-start">
                                            <li class="star"><i class="fa fa-star"></i></li>
                                            <li class="star"><i class="fa fa-star"></i></li>
                                            <li class="star"><i class="fa fa-star"></i></li>
                                            <li class="star"><i class="fa fa-star"></i></li>
                                            <li class="star"><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
            
                                </li>
                                <li>
            
                                    <div class="bidder-rating-points">
                                        <span>({{ bid.bidder.rating }})</span>
                                    </div>
                                </li>
                                <li class="bidder-date">
                                    <small>{{ bid.createdOn | date}}</small>
                                </li>
                            </ul>

                          <div class="d-flex w-100 justify-content-between">
                            
                              <p class="mb-1">{{ bid.description }}</p>
                              <ul class="details">
                                  <li>
                                      <h4>${{ bid.price }}</h4>

                                  </li>
                                  <li class="days">
                                      <h5>{{ bid.days }} days</h5>
                                  </li>
                              </ul>
        
                          </div>
                         
                          <ng-template #template>
                              <div class="modal-header">
                                  <div class="modal-title pull-left">

                                      <h4 > {{ bid.bidder.name | titlecase}}'s Bid</h4>
                                      <small >{{ bid.createdOn | date}}</small>
                                  </div>
                                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <div>
                                    <h6 class="modal-bid-title">Description</h6>
                                    {{ bid.description }}
                                
                                </div>
                                <hr>
                                <div>
                                    <h6 class="modal-bid-title">Price</h6>
                                    ${{ bid.price }}
                                
                                </div>
                                <hr>
                                <div>
                                    <h6 class="modal-bid-title">Work will be done in</h6>
                                    {{ bid.days }} days
                                
                                </div>
                                <hr>
                                <div>
                                    
                                    <button type="button" class="btn btn-success btn-circle btn-lg pull-left" (click)='approveBid(bid.id)'><i class="fa fa-check"></i>
                                    </button>
                                    
                                    <button type="button" class="btn btn-danger btn-circle pull-right"(click)='modalRef.hide()'><i class="fa fa-times"></i>
                                    </button>

                                </div>
                              </div>

                            </ng-template>
                        </a>
                       
                       
                      </div>
                </div>
            </div>
        </div>

        <div *ngIf="post?.bids == null "class="col-12 no-bids">
            <div class="alert alert-info alert-message"> No bids yet...</div>
        </div>
    </div>

   

    
</div>