
  <div  style="margin-top:50px">
    <!-- user content -->
    <tabset *ngIf="loader == false" #staticTabs>
      <tab heading="Dashboard" id="tab1">
         
          <main role="main" class="container-fluid" >
        
        
           
          
            <div class="my-3 p-3 bg-white rounded shadow-sm">
              
              <h6 class="border-bottom border-gray pb-2 mb-0">Recent reviews</h6>
              <div *ngFor="let review of user?.reviewsGotten" class="media text-muted pt-3">
                <img class="bd-placeholder-img mr-2 rounded" width="32" height="32" [src]="review?.reviewerImg" alt="">
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                  <strong class="d-block text-gray-dark">{{ review?.reviewerName }}</strong>
                  {{ review?.description }}
                </p>
              </div>
           
              <small class="d-block text-right mt-3">
                <a (click)="selectTab(3)">All reviews</a>
              </small>

            </div>
                <div *ngIf="user?.reviewsGotten.length<=0" class="alert alert-info my-4  pt-3">
                  <h6>You have no reviews yet !</h6>
                </div>
          
                <div class="my-3 p-3 bg-white rounded shadow-sm">
              
                  <h6 class="border-bottom border-gray pb-2 mb-0">Recent bids</h6>
                  <div *ngFor="let bid of user?.bidsReceived" class="media text-muted pt-3">
                    <img class="bd-placeholder-img mr-2 rounded" width="32" height="32" [src]="bid?.bidderImage" alt="">
                    <!-- <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg> -->
                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                      <strong class="d-block text-gray-dark">{{ bid?.bidderName | titlecase}}</strong>
                      {{ bid.postName}}
                    </p>
                  </div>
               
                  <small class="d-block text-right mt-3">
                    <a (click)="selectTab(1)">All bids</a>
                  </small>
    
                </div>
                    <div *ngIf="user?.bidsReceived.length <= 0" class="alert alert-info my-4  pt-3">
                      <h6>You have no bids yet !</h6>
                    </div>


          </main>
        
      </tab>
      <tab heading="Bids">
        <tabset [justified]="true">
          <tab heading="Bids Received">
            <div *ngIf="user?.bidsReceived.length<=0" class="alert alert-info m-4 pt-3">
              <h6>You have no received bids yet !</h6>
            </div>

            <div class="container-fluid">
              <div style="margin-top:30px;" class="row">

                <div [routerLink]="['/post',bid.postName,bid.postId]"  *ngFor="let bid of user?.bidsReceived" class="card mb-3 col-lg-4 col-sm-12" style="max-width: 540px;">
                  <div class="row no-gutters">
                    <div class="col-md-3 card-bid-img" [ngStyle]="{'background-image':'url('+bid?.bidderImage+')'}">
                     
                    </div>
                    <div class="col-md-8 col-sm-11 col-lg-8">
                      <div class="card-body">
                        <h5 class="card-title">
                          <ul class="card-bid-titles">
                            <li>
                                {{ bid?.bidderName | titlecase}}
                            </li>
                            <li class="card-bid-price">
                                ${{ bid?.price}}
                            </li>
                          </ul>
                        </h5>
                        <p class="card-text">{{ bid?.description }}</p>
                        <p class="card-text"><small class="text-muted">{{ bid?.postName}}</small></p>
                      </div>
                    </div>

                    <div [style.backgroundColor]="bid.status == 'Waiting' ? 'rgb(243, 223, 42)' : bid.status == 'Declined' ? 'red' : 'green' " class="col-md-1 col-sm-1 col-lg-1 card-bid-status">

                    </div>
                  </div>
                </div>
  
              </div>
            </div>


            
           </tab>
          <tab heading="Bids Sent">
            <div *ngIf="user?.bidsSent.length<=0" class="alert alert-info m-4 pt-3">
              <h6>You have no sent bids yet !</h6>
            </div>

            <div class="container-fluid">
              <div style="margin-top:30px;" class="row">

                <div [routerLink]="['/post',bid.postName,bid.postId]"  *ngFor="let bid of user?.bidsSent" class="card mb-3 col-lg-4 col-sm-12" style="max-width: 540px;">
                  <div class="row no-gutters">
                    <div class="col-md-3 card-bid-img" [ngStyle]="{'background-image':'url('+user?.imageUrl+')'}">
                     
                    </div>
                    <div class="col-md-8 col-sm-11 col-lg-8">
                      <div class="card-body">
                        <h5 class="card-title">
                          <ul class="card-bid-titles">
                            <li>
                                {{ user?.username | titlecase}}
                            </li>
                            <li class="card-bid-price">
                                ${{ bid?.price}}
                            </li>
                          </ul>
                        </h5>
                        <p class="card-text">{{ bid?.description }}</p>
                        <p class="card-text"><small class="text-muted">{{ bid?.postName}}</small></p>
                      </div>
                    </div>

                    <div [style.backgroundColor]="bid.status == 'Waiting' ? 'rgb(243, 223, 42)' : bid.status == 'Declined' ? 'red' : 'green' " class="col-md-1 col-sm-1 col-lg-1 card-bid-status">

                    </div>
                  </div>
                </div>
  
              </div>
            </div>
          </tab>
        </tabset>
      </tab>

      <tab heading="Posts">
        <app-posts-list  [id]="user.id" ></app-posts-list>

       <!-- <div *ngIf = 'user?.posts?.length > 0 && user?.posts != null' class="container-fluid">
          <div class="list-group user-posts">
            <div class="row user-posts-title">
              <h2>Your posts page.</h2>
            </div>
            <div class="row user-posts-semiTitle">
              <h4>Here you can find everything you created</h4>
            </div>
            <a *ngFor="let post of postsArray" class="list-group-item list-group-item-action flex-column align-items-start ">
              <div class="d-flex w-100 justify-content-between">
                <a class="user-post-name" [routerLink]="['/post/',post.name,post.id]" ><h5  class="mb-1">{{ post?.name }}</h5></a>
                <small>{{ post?.createdOn}}</small>
              </div>
              <div class="d-flex w-100 justify-content-between">
                <p class="mb-1 user-post-budget">${{ post?.price }}</p>
                
                <i class="fa fa-times user-delete-post" aria-hidden="true"  (click)="openModal(template)"></i>
              </div>
              <ng-template #template>
                <div class="modal-body text-center">
                  <p>Do you want to confirm?</p>
                  <button type="button" class="btn btn-default" (click)="confirm(post)" >Yes</button>
                  <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
                </div>
              </ng-template>
            </a>



          </div>
        </div>

        <div *ngIf="user?.posts.length<=0" class="alert alert-info m-4 pt-3">
          <h6>You haven't made any posts yet...</h6>
        </div>  -->
      </tab>
      <tab heading="Reviews">
        <div class="container-fluid">

          <p *ngIf="user?.reviewsGotten.length <=0"> No reviews</p>
          <div *ngIf="user?.reviewsGotten.length>0" class="row" style="margin-top:20px;">
    
              <div  *ngFor='let review of user?.reviewsGotten' class="media text-muted pt-3 col-12"  style="width:50vw" >
                <img class="bd-placeholder-img mr-2 rounded" width="32" height="32" [src]="review?.reviewerImg" alt="">
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                  <strong class="d-block text-gray-dark ">{{ review?.reviewerName }}</strong>
                    {{ review?.description }}
                </p>
                <ul class="review-rate">
                  <li><i class="fa fa-star"></i></li>
                  <li>{{ review?.rating }}</li>
                </ul>
              </div>
          
          </div>
          
        </div>
      </tab>
      <tab heading="My Profile">
        <div class="container-fluid">
          <div class="row profile-top">
            <div class="col-md-2 profile-image"  >
              <div [ngStyle]="{'background-image':'url('+user?.imageUrl+')'}" style="width:180px;height:180px;border-radius: 560px;background-size: cover;background-position: center;"></div>
            </div>
            <div class="col-md-8 profile-titles">
              <h1>{{ user?.username | titlecase}}</h1>
              <h5>{{ user?.workPosition }}</h5>
              <h6>{{ user?.city }}</h6>
            </div>
            <div class="col-md-2 profile-ratings">
              <div class="row">
                <div class="col-md-2"><i class="fa fa-star rating-star"></i></div>
                <div class="col-md-10">
                  <h2 class="rating-points">{{ user.rating }}</h2>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="card  profile-descripion" style="width:500px">
                <h4 class="card-title description-title">Description</h4>
                <p class="card-text description-text">
                  {{ user?.description}}
                </p>
              
            </div>
            <div class="my-3 p-3 bg-white rounded shadow-sm">
              <h6 class="border-bottom border-gray pb-2 mb-0">Recent reviews</h6>
              <div class="media text-muted pt-3">
                <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                  <strong class="d-block text-gray-dark">@username</strong>
                  Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                </p>
              </div>
              <div class="media text-muted pt-3">
                <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#e83e8c"/><text x="50%" y="50%" fill="#e83e8c" dy=".3em">32x32</text></svg>
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                  <strong class="d-block text-gray-dark">@username</strong>
                  Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                </p>
              </div>
              <div class="media text-muted pt-3">
                <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#6f42c1"/><text x="50%" y="50%" fill="#6f42c1" dy=".3em">32x32</text></svg>
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                  <strong class="d-block text-gray-dark">@username</strong>
                  Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                </p>
              </div>
              <small class="d-block text-right mt-3">
                <a href="#">All reviews</a>
              </small>
            </div>
          </div>
        </div>
      
      </tab>
      <tab heading="Settings">
        <div class="container-fluid">
  
          <tabset [justified]="true">
            <tab heading="Password Change">
              <app-change-password [user]="user"></app-change-password>

            </tab>
            <tab heading="Information Change">

                <form [formGroup]="myForm" (ngSubmit)="updateDetails()" style="margin-top:50px;align-items: center;justify-content: center;" >
                  <div class="form-row" style="justify-content: center;">
                    <div class="form-group col-md-6">
                      <label for="Image">Image</label>
                      <input formControlName="image" name="Image" type="file" class="form-control" 
                      (change)="onFileChange($event)">
                    </div>
                  </div>
                  <div class="form-row" style="justify-content: center;">
                    <div class="form-group col-md-6">
                      <label for="JobPosition">Job Position</label>
                      <input formControlName="jobPosition" name="JobPosition" type="text" class="form-control" placeholder="Job Position" >
                    </div>
                  </div>
                  <div class="form-row" style="justify-content: center;">
                    <div class="form-group col-md-6">
                      <label for="City">City</label>
                      <input formControlName="city" name="City" type="text" class="form-control" placeholder="City">
                    </div>
                  </div>
                  <div class="form-row" style="justify-content: center;">
                    <div class="form-group col-md-6">
                      <label for="Description">Description</label>
                      <textarea formControlName="description" name="Description" type="text" class="form-control" placeholder="Description"> </textarea>
                    </div>
                  </div>
                  <div  class="form-row" style="justify-content: center;">

                    <button type="submit" class="btn btn-info btn-circle btn-xl"><i class="fa fa-check"></i>
                    </button>
                  </div>
                </form>
             
            </tab>
          </tabset>
          
        </div>
      </tab>
      
    </tabset>

    <!-- spinner -->
    <div style="padding-top: 120px;" *ngIf="loader == true" class="container">
      <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>

  </div>


