
  <div style="margin-top:50px">
    <tabset>
      <tab heading="Dashboard" id="tab1">
         
          <main role="main" class="container-fluid" >
        
        
           
            <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
              <img class="mr-3"  alt="" width="48" height="48">
              <div class="lh-100">
                <h6 class="mb-0 text-white lh-100">Bootstrap</h6>
                <small>Since 2011</small>
              </div>
            </div>
          
            <div class="my-3 p-3 bg-white rounded shadow-sm">
              <h6 class="border-bottom border-gray pb-2 mb-0">Recent updates</h6>
              <div class="media text-muted pt-3">
                <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                  <strong class="d-block text-gray-dark">@username</strong>
                  Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                </p>
              </div>
              <div class="media text-muted pt-3">
                <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#e83e8c"/><text x="50%" y="50%" fill="#e83e8c" dy=".3em">32x32</text></svg>
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                  <strong class="d-block text-gray-dark">@username</strong>
                  Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                </p>
              </div>
              <div class="media text-muted pt-3">
                <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#6f42c1"/><text x="50%" y="50%" fill="#6f42c1" dy=".3em">32x32</text></svg>
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                  <strong class="d-block text-gray-dark">@username</strong>
                  Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                </p>
              </div>
              <small class="d-block text-right mt-3">
                <a href="#">All updates</a>
              </small>
            </div>
          
            <div class="my-3 p-3 bg-white rounded shadow-sm">
              <h6 class="border-bottom border-gray pb-2 mb-0">Suggestions</h6>
              <div class="media text-muted pt-3">
                <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
                <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                  <div class="d-flex justify-content-between align-items-center w-100">
                    <strong class="text-gray-dark">Full Name</strong>
                    <a href="#">Follow</a>
                  </div>
                  <span class="d-block">@username</span>
                </div>
              </div>
              <div class="media text-muted pt-3">
                <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
                <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                  <div class="d-flex justify-content-between align-items-center w-100">
                    <strong class="text-gray-dark">Full Name</strong>
                    <a href="#">Follow</a>
                  </div>
                  <span class="d-block">@username</span>
                </div>
              </div>
              <div class="media text-muted pt-3">
                <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
                <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                  <div class="d-flex justify-content-between align-items-center w-100">
                    <strong class="text-gray-dark">Full Name</strong>
                    <a href="#">Follow</a>
                  </div>
                  <span class="d-block">@username</span>
                </div>
              </div>
              <small class="d-block text-right mt-3">
                <a href="#">All suggestions</a>
              </small>
            </div>
          </main>
        
      </tab>
      <tab heading="Bids">
      </tab>
      <tab heading="Posts">
        <div class="container-fluid">
          <div class="list-group user-posts">
            <div class="row user-posts-title">
              <h2>Your posts page.</h2>
            </div>
            <div class="row user-posts-semiTitle">
              <h4>Here you can find everything you created</h4>
            </div>
            <a *ngFor="let post of postsArray" class="list-group-item list-group-item-action flex-column align-items-start ">
              <div class="d-flex w-100 justify-content-between">
                <a class="user-post-name" [routerLink]="['/search/users']" ><h5  class="mb-1">{{ post?.name }}</h5></a>
                <small>{{ post?.createdOn}}</small>
              </div>
              <div class="d-flex w-100 justify-content-between">
                <p class="mb-1 user-post-budget">${{ post?.price }}</p>
                
                <i class="fa fa-times user-delete-post" aria-hidden="true"  (click)="openModal(template)"></i>
              </div>
              <ng-template #template>
                <div class="modal-body text-center">
                  <p>Do you want to confirm?</p>
                  <button type="button" class="btn btn-default" (click)="confirm(post)" >Yes</button>
                  <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
                </div>
              </ng-template>
            </a>



          </div>
        </div>
      </tab>
      <tab heading="My Profile">
        <div class="container-fluid">
          <div class="row profile-top">
            <div class="col-md-2 profile-image"  >
              <div [ngStyle]="{'background-image':'url('+user?.imageUrl+')'}" style="width:180px;height:180px;border-radius: 560px;background-size: cover;background-position: center;"></div>
            </div>
            <div class="col-md-8 profile-titles">
              <h1>{{ user?.username | titlecase}}</h1>
              <h5>{{ user?.workPosition }}</h5>
              <h6>{{ user?.city }}</h6>
            </div>
            <div class="col-md-2 profile-ratings">
              <div class="row">
                <div class="col-md-2"><i class="fa fa-star rating-star"></i></div>
                <div class="col-md-10">
                  <h2 class="rating-points">4.5</h2>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="card  profile-descripion" style="width:500px">
                <h4 class="card-title description-title">Description</h4>
                <p class="card-text description-text">
                  {{ user?.description}}
                </p>
              
            </div>
            <div class="my-3 p-3 bg-white rounded shadow-sm">
              <h6 class="border-bottom border-gray pb-2 mb-0">Recent reviews</h6>
              <div class="media text-muted pt-3">
                <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                  <strong class="d-block text-gray-dark">@username</strong>
                  Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                </p>
              </div>
              <div class="media text-muted pt-3">
                <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#e83e8c"/><text x="50%" y="50%" fill="#e83e8c" dy=".3em">32x32</text></svg>
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                  <strong class="d-block text-gray-dark">@username</strong>
                  Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                </p>
              </div>
              <div class="media text-muted pt-3">
                <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#6f42c1"/><text x="50%" y="50%" fill="#6f42c1" dy=".3em">32x32</text></svg>
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                  <strong class="d-block text-gray-dark">@username</strong>
                  Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                </p>
              </div>
              <small class="d-block text-right mt-3">
                <a href="#">All reviews</a>
              </small>
            </div>
          </div>
        </div>
      
      </tab>
      <tab heading="Settings">
        <div class="container-fluid">
  
          <tabset [justified]="true">
            <tab heading="Password Change">
              <div class="card" style="margin-top:80px;margin-left:60px;margin-right:60px">
                <div class="card-body text-center">
                  
                  <form #passwordChangeForm = "ngForm"  id="passwordChangeForm"  form="passwordChangeForm"
                  (ngSubmit)="changePassword(passwordChangeForm)" class="password-change-form">

                    <div class="form-group row" >
                      <label class="col-sm-2 col-form-label">New Password</label>
                      <div class="col-sm-10">
                        <input  name="newPassword" required  type="password" class="form-control" placeholder="New Password"
                          [(ngModel)]="model.newPassword" #newPassword = "ngModel">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputPassword3" class="col-sm-2 col-form-label">Confirm Password</label>
                      <div class="col-sm-10">
                        <input name="confirmPassword" required type="password" class="form-control" id="inputPassword3" placeholder="Confirm Password"
                        [(ngModel)]="model.confirmPassword" #confirmPassword = "ngModel">
                      </div>
                    </div>
                
              
                    <div  class="form-row" style="justify-content: center;">

                      <button type="submit" class="btn btn-info btn-circle btn-xl"><i class="fa fa-check"></i>
                      </button>
                    </div>
                  </form>
                </div>
              </div>

            </tab>
            <tab heading="Information Change">

                <form [formGroup]="myForm" (ngSubmit)="updateDetails()" style="margin-top:50px;align-items: center;justify-content: center;" >
                  <div class="form-row" style="justify-content: center;">
                    <div class="form-group col-md-6">
                      <label for="Image">Image</label>
                      <input formControlName="image" name="Image" type="file" class="form-control" 
                      (change)="onFileChange($event)">
                    </div>
                  </div>
                  <div class="form-row" style="justify-content: center;">
                    <div class="form-group col-md-6">
                      <label for="JobPosition">Job Position</label>
                      <input formControlName="jobPosition" name="JobPosition" type="text" class="form-control" placeholder="Job Position" >
                    </div>
                  </div>
                  <div class="form-row" style="justify-content: center;">
                    <div class="form-group col-md-6">
                      <label for="City">City</label>
                      <input formControlName="city" name="City" type="text" class="form-control" placeholder="City">
                    </div>
                  </div>
                  <div class="form-row" style="justify-content: center;">
                    <div class="form-group col-md-6">
                      <label for="Description">Description</label>
                      <textarea formControlName="description" name="Description" type="text" class="form-control" placeholder="Description"> </textarea>
                    </div>
                  </div>
                  <div  class="form-row" style="justify-content: center;">

                    <button type="submit" class="btn btn-info btn-circle btn-xl"><i class="fa fa-check"></i>
                    </button>
                  </div>
                </form>
             
            </tab>
            <tab heading="Other">Long Labeled Justified content</tab>
          </tabset>
          
        </div>
      </tab>

    </tabset>
  </div>
