.profile-top{
    height:250px;
    background-color: #272727;
    color:beige;
}
.profile-image{
    padding:20px;
}
.profile-titles{
    padding-top:40px;
}
.rating-star{
    padding-top:90px;
    font-size: 40px;
    color:gold;
}
.rating-points{
    padding-top:35px;
    padding-left: 10px;
    font-size: 90px;
    font-weight: 700;
}
.profile-descripion{
    height:700px;
    box-shadow: gray 5px;
}
.description-title{
    font-weight: 700;
    padding-top:10px;
    padding-left:10px;
}
.description-text{
    padding-left:10px;
    padding-right: 10px;
}



.password-change-form{
    padding:40px;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.user-posts{
    padding-top:30px;
    
}

.user-delete-post{
    font-size:25px;
    padding-right:20px;
    color:rgb(203, 40, 40)
}
.user-delete-post:hover{
    text-shadow: 0 0 2px black;
}

.user-post-budget{
    background-color: green;
     border-radius: 4px; 
     color:white;
     padding:3px;
}
.user-posts-title{
    padding-left:30px;
}
.user-posts-title h2{
    font-size: 50px;
    font-weight: bolder;
}
.user-posts-semiTitle{
    padding-left:35px;
    margin-bottom: 30px;
}
.user-posts-semiTitle h4{
    font-size: 18px;
    font-weight: bold;
    color: rgba(32, 32, 32, 0.717)
}

.user-post-name:hover{
    color: gray;
}
.user-post-name:link,
.user-post-name:visited{
    font-weight: bold;
    color:rgb(22, 22, 22);
    text-decoration: none;
}


/* Bid section */

.card-bid-titles{
    list-style: none;
    padding:0px;
    margin:0px;
}
.card-bid-titles li{
    display: inline;
    padding:0px;
    margin:0px;
}
.card-bid-img{
  
    background-size: cover;
    background-position: center;
}
.card-bid-status{
    background-color: rgb(243, 223, 42);
}
.card-bid-price{
   float:right;
   color: gray;
   font-weight: bold;
}


.review-rate{
    list-style: none;
}
.review-rate li{
    display: inline;
    margin-right:8px;
    padding-top: 20px;
}

.review-rate li i {
    margin-top:15px;
    color: rgb(255, 200, 0);
}