.profile-top{
    height:250px;
    background-color: #272727;
    color:beige;
}
.profile-image{
    padding:20px;
}
.profile-titles{
    padding-top:40px;
}
.rating-star{
    padding-top:90px;
    font-size: 40px;
    color:gold;
}
.rating-points{
    padding-top:35px;
    padding-left: 10px;
    font-size: 90px;
    font-weight: 700;
}
.profile-descripion{
    height:700px;
    box-shadow: gray 5px;
}
.description-title{
    font-weight: 700;
    padding-top:10px;
    padding-left:10px;
}
.description-text{
    padding-left:10px;
    padding-right: 10px;
}



.password-change-form{
    padding:40px;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}
