
  <div  style="margin-top:50px">
    <!-- user content -->
    <tabset *ngIf="loader == false" #staticTabs >
      <tab heading="My Profile">
        <div class="container-fluid" style="margin-bottom: 200px;">
          <div class="row profile-top">
            
            <div class="col-6 col-sm-6 col-lg-2 profile-image" >
              <div class="profile-image" [ngStyle]="{'background-image':'url('+user?.imageUrl+')'}"></div>
            </div>

            <div class="col-6 col-sm-6 col-lg-8 profile-titles">
              <div class="row">

                <h1>{{ user?.username | titlecase}}</h1>
              </div>
              <div class="row">
                
                <h5>{{ user?.workPosition }}</h5>
              </div>
              <div class="row">

                <h6>{{ user?.city }}</h6>
              </div>

              <div class="row">
                <h5 >Rating : {{ user.rating }}</h5>
              </div>
            </div>

          </div>

          
          <div class="row">
            <div class="card  profile-descripion">
                <h4 class="card-title description-title">Description</h4>
                <p class="card-text description-text">
                  {{ user?.description}}
                </p>
                    <div *ngIf="user.description == null || user.description == '' " class="alert alert-info">
                      This user has no description yet
                    </div>
              
            </div>
         
          </div>
        </div>
      </tab>
      
      <tab heading="Bids">
       <app-bid-list></app-bid-list>
       <div style="margin-bottom: 500px;"></div>
      </tab>

      <tab heading="Posts">
        <app-posts-list  [id]="user.id" ></app-posts-list>
        <div style="margin-bottom: 500px;"></div>
      </tab>
      <tab heading="Reviews">
        <div class="container-fluid">
          <div style="margin-top:15px" *ngIf="user?.reviewsGotten.length <=0" class="alert alert-info">
           No reviews
          </div>
          <div *ngIf="user?.reviewsGotten.length>0" class="row" style="margin-top:20px;">
    
              <div  *ngFor='let review of user?.reviewsGotten' class="media text-muted pt-3 col-12"  style="width:50vw" >
                <img class="bd-placeholder-img mr-2 rounded" width="32" height="32" [src]="review?.reviewerImg" alt="">
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                  <strong class="d-block text-gray-dark ">{{ review?.reviewerName }}</strong>
                    {{ review?.description }}
                </p>
                <ul class="review-rate">
                  <li><i class="fa fa-star"></i></li>
                  <li>{{ review?.rating }}</li>
                </ul>
              </div>
          
          </div>
          
        </div>
        
       <div style="margin-bottom: 500px;"></div>
      </tab>
      
      <tab heading="Settings">
        <div class="container-fluid">
  
          <tabset [justified]="true">
            <tab heading="Password Change">
              <app-change-password [user]="user"></app-change-password>

            </tab>
            <tab heading="Information Change">

                <form [formGroup]="myForm" (ngSubmit)="updateDetails()" style="margin-top:50px;align-items: center;justify-content: center;" >
                  <div class="form-row" style="justify-content: center;">
                    <div class="form-group col-md-6">
                      <label for="Image">Image</label>
                      <input formControlName="image" name="Image" type="file" class="form-control" 
                      (change)="onFileChange($event)">
                    </div>
                  </div>
                  <div class="form-row" style="justify-content: center;">
                    <div class="form-group col-md-6">
                      <label for="JobPosition">Job Position</label>
                      <input formControlName="jobPosition" name="JobPosition" type="text" class="form-control" placeholder="Job Position" >
                    </div>
                  </div>
                  <div class="form-row" style="justify-content: center;">
                    <div class="form-group col-md-6">
                      <label for="City">City</label>
                      <input formControlName="city" name="City" type="text" class="form-control" placeholder="City">
                    </div>
                  </div>
                  <div class="form-row" style="justify-content: center;">
                    <div class="form-group col-md-6">
                      <label for="Description">Description</label>
                      <textarea formControlName="description" name="Description" type="text" class="form-control" placeholder="Description"> </textarea>
                    </div>
                  </div>
                  <div  class="form-row" style="justify-content: center;">

                    <button type="submit" class="btn btn-info btn-circle btn-xl"><i class="fa fa-check"></i>
                    </button>
                  </div>
                </form>
             
            </tab>
          </tabset>
          
        </div>
        
       <div style="margin-bottom: 500px;"></div>
      </tab>
      
    </tabset>

    <!-- spinner -->
    <div style="padding-top: 120px;" *ngIf="loader == true" class="container">
      <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>

  </div>


