<header>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" style="margin-bottom: 80px;">
    <a class="navbar-brand" href="#">Bidhouse</a>
    

     
      <ul class="navbar-nav mr-auto">
   
       
      </ul> 



      <div  dropdown *ngIf="loggedIn()" class="btn-group" >
        <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown"  dropdownToggle >
          Welcome {{ authService?.normalizedToken?.unique_name | titlecase }}
        </button>
        <div class="dropdown-menu" *dropdownMenu >
          <a class="dropdown-item"  [routerLink]="['/user/create-post']" href="#">Create an Offer</a>
          <a class="dropdown-item"  [routerLink]="['/posts']" href="#">Find a Offer</a>
          <a class="dropdown-item"  [routerLink]="['/search/users']"  href="#">Browse Users </a>

          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/user']" href="#">My Profile</a>
          <a class="dropdown-item" href="#">Settings</a>
          <div *ngIf="isAdmin()" class="dropdown-divider"></div>
          <a *ngIf="isAdmin()" class="dropdown-item" [routerLink]="['/admin']" href="#">Admin Panel</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item btn text-danger" (click)="logout()">Logout</a>
        </div>
      </div>



      <form style="float:right;" *ngIf="loggedIn() == false" #loginForm = "ngForm"  (ngSubmit) = "login()" class="form-inline my-2 my-lg-0">
        <input  class="form-control mr-sm-2" type="text" name="Username" placeholder="Username"  
        required [(ngModel)]="model.username" #username = "ngModel"> 
        
        <input  class="form-control mr-sm-2" type="password" name="Password" placeholder="Password"  
        required [(ngModel)]="model.password" #password = "ngModel">
        
        <button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0" type="submit">Login</button>

      </form>


  </nav>
</header>
