<div style="margin-top: 70px;" class="container-fluid">
  <div *ngIf = "adminMode == false" class="row title">
    <h2>Bidders</h2>
  </div>
  
  <div class="row user-search-bar">
  
    <form class="test form-inline d-flex  md-form form-sm mt-0">
      <i class="fa fa-search active" aria-hidden="true"></i>
      <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search" #value (keyup.enter)="addFilter(value)">
    </form>
  </div>
  
 
  <div *ngIf="query.SearchInput != null && query.SearchInput != ''" class="row">
    <h2 class="search-result-title">Search results for : "{{ query.SearchInput }}"</h2>
  </div>
  
  
  
  
  
  
  
    <div *ngFor='let user of userList'  class="row user-details">
  <div class="col-lg-1 col-sm-1">
    <div *ngIf="user?.imageUrl == null"  class="user-image-without-image"></div>
  
    <div *ngIf="user?.imageUrl != null" [ngStyle]="{'background-image':'url('+ user?.imageUrl +')'}" class="user-image-with-image"></div>
  </div>
  <div class="col-lg-3 col-sm-1 user-titles">
    <div class="row">
      <h4  [routerLink]="['/user',user?.name,user?.id]" >{{ user?.name | titlecase}}</h4>
    </div>
    <div class="row">
      <h6>{{ user?.city}}</h6>
    </div>
  </div>
  <div class="col-lg-3 col-sm-1 user-posts-count">
    <h5>{{ user?.numberOfPosts}} posts</h5>
  </div>
  <div *ngIf="user?.rating != 0 && adminMode == false" class="col-lg-3 user-ratings ">
        <ul class="row">
          <li><i class="fa fa-star"></i></li>
          <li><h5>{{ user?.rating }}</h5></li>
        </ul>
  </div>
  <div *ngIf="user?.rating == 0 && adminMode == false" class="col-lg-3 col-sm-1">
    <h5 class="no-rating-text">No rating yet.</h5>
  </div>
  
  <div *ngIf = "adminMode == true" style="padding-top:30px" class="col-lg-3">
    <button [disabled]="user?.id == this.authService.normalizedToken.nameid ? true : false" (click)="deleteUser(user.id)" class="btn btn-danger">Delete user</button>
  </div>
  <div *ngIf = "adminMode == true" style="padding-top:30px" class="col-lg-3">
    <button [disabled]="user?.role == 'Admin' ? true : false"  (click)="makeAdmin(user.id)" class="btn btn-warning">Make admin</button>
  </div>

  </div> 
  
  <div *ngIf = 'loader == true' class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div> 
  
  
  
  <div
  class="row search-results"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()"
  >
  </div>
  
  <div style="margin-bottom:300px" class="row final-message"> 
    <p>---- We found no more users to load ----</p>
   
  
  </div>
  </div>