
<!-- This is for user profiles -->
<div *ngIf='id != null ' class="container-fluid" style="margin-top:50px;">
  
  <div *ngIf="isGuestUser == true" class="row user-posts-title">
    <h2>Posts page</h2>
  </div>

  <div *ngIf="isGuestUser == false" class="row user-posts-semiTitle">
    <h4>Here you can find everything you created</h4>
  </div>

  <div  *ngIf = 'posts?.length > 0 && posts != null && id!=null' class="list-group user-posts">
    <a *ngFor="let post of posts" class="list-group-item list-group-item-action flex-column align-items-start ">
      <div class="d-flex w-100 justify-content-between">
        <a class="user-post-name" [routerLink]="['/post/',post.name,post.id]" ><h5  class="mb-1">{{ post?.name }}</h5></a>
        <small>{{ post?.createdOn}}</small>
      </div>
      <div class="d-flex w-100 justify-content-between">
        <p class="mb-1 user-post-budget">${{ post?.price }}</p>
        
        <i *ngIf="isGuestUser == false" class="fa fa-times user-delete-post" aria-hidden="true"  (click)="openModal(template)"></i>
      </div>
      <ng-template #template>
        <div class="modal-body text-center">
          <p>Do you want to confirm?</p>
          <button type="button" class="btn btn-default" (click)="confirm(post)" >Yes</button>
          <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
        </div>
      </ng-template>
    </a>
  </div>

      <div *ngIf="posts?.length == 0" class="alert alert-info m-4 pt-3">
        <h6>There aren't any posts yet...</h6>
      </div> 
      
</div>

<!-- This is for FindOffer -->
<div *ngIf='id==null' class="container-fluid offers-container" style="margin-top:70px;">
  <div class="row">
    
    <div class="col-lg-6 col-sm-12 offers"  
    infinite-scroll
    [infiniteScrollDistance]="2"
    [infiniteScrollUpDistance]="1.5"
    [infiniteScrollThrottle]="100"
    (scrolled)="onScroll()"
    [scrollWindow]="false" >
  
    
    <div *ngFor='let post of posts' [routerLink]="['/post',post.name,post.id]" class="card">
      <div [style.background]='post.category == "Design" ? "linear-gradient(#dE685E, #EE786E)"
       : post.category == "Tech" ? "rgb(48, 112, 181)" 
       : post.category == "Lifestyle" ? "rgb(231, 178, 79)" 
       : post.category == "Editing" ? "rgb(133, 75, 162)" 
       : post.category == "Marketing" ? " rgb(133, 75, 162)" : "black" ' class="additional">

        <div class="user-card">
          <div class="level center">
            {{ post.category }}
          </div>
          <div class="points center">
            {{ post.createdOn | date}}
          </div>
          <div *ngIf="post.userImageUrl != null" [ngStyle]="{'background-image':'url('+ post.userImageUrl +')'}" class="user-image-with-image center"></div>
        </div>
        <div class="more-info">
          <h2>{{ post.userName | titlecase }}</h2>
          
          <div class="coords" style="margin-top:20px">
            <span>City/Country</span>
            <span>{{ post.location }}</span>
          </div>
          <div class="coords" style="margin-top:20px">
            
            <span>Budget</span>
            <span>${{ post.price }}</span>
          </div>
          <div class="coords" style="margin-top:20px">
            
            <p>Click the card to read more...</p>
          </div>
          <!-- <div class="stats">
            <div>
              <div class="title">Awards</div>
              <i class="fa fa-trophy"></i>
              <div class="value">2</div>
            </div>
            <div>
              <div class="title">Matches</div>
              <i class="fa fa-gamepad"></i>
              <div class="value">27</div>
            </div>
            <div>
              <div class="title">Pals</div>
              <i class="fa fa-group"></i>
              <div class="value">123</div>
            </div>
            <div>
              <div class="title">Coffee</div>
              <i class="fa fa-coffee"></i>
              <div class="value infinity">∞</div>
            </div>
          </div> -->

        </div>
      </div>
      <div class="general">
        <h2>{{ post.name }}</h2>
        <p style="height:65px;overflow:hidden;">{{ post.description }}</p>
        <span class="more">Mouse over the card for more info</span>
      </div>
    </div>
    
    <div *ngIf='posts?.length == 0' class="alert alert-info" style="margin-top:30px">
        We couldn't find any posts
    </div>
  
   <div style="margin-top:100px;"></div>

  </div>

  <div class="col-lg-6 col-sm-12 offer-filters">
    <div class="row">
       <h1> Browse a bunch of new offers everyday ! 🛠️</h1>
    </div>
   
    <form [formGroup]='filters' (ngSubmit)='filter()'>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="inputEmail4">Filter by category 👨‍⚕️</label>
          <select name="category" formControlName="category"  class="form-control" id="exampleFormControlSelect1">
            <option value="">None</option>
            <option value=1>Software & Tech</option>
            <option value=2>Design & Art</option>
            <option value=3>Video editing</option>
            <option value=4>Digital Marketing</option>
            <option value=5>Lifestyle</option>
          </select>
        </div>
      </div>
   
      <div class="form-row">
       <div class="form-group col-12">
         <input name="searchInput" formControlName="searchInput" class="form-control" type="text" placeholder="Type the name of the service you are looking for ... 🔍" aria-label="Type the name of the service you are looking for ...">

       </div>
      </div>
      <div class="form-row justify-content-center" style="padding-top:20px">
        <button type="submit"class="btn btn-success btn-circle btn-lg pull-left"><i class="fa fa-check"></i>
        </button>

      </div>
    </form>
  </div>

   
  <div
  style="margin-top: 90px;"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()"
  >
  </div>
</div>



